$bs-gray-100: #F8F9FA;
$bs-gray-200: #E9ECEF;
$bs-gray-300: #DEE2E6;
$bs-gray-400: #CED4DA;
$bs-gray-500: #ADB5BD;
$bs-gray-600: #6C757D;
$bs-gray-700: #495057;
$bs-gray-800: #343A40;
$bs-gray-900: #212529;

$color-secondary: #C4C4C4;
$bg-white: #fff;
$bg-black: #131618;
$footer-gray: #B7B7B7;

$media-max-width-ipad: 700px;
$media-max-width-phone: 414px;

