@font-face {
  font-weight: 400;
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr Bold.ttf");
}

html {
  font-weight: 400;
  font-size: 16px;
  font-family: HelveticaNeueCyr, sans-serif;
  // line-height: 1.295;
  color: $bs-gray-600;
}

body {
  margin: 0;
}
